swagger: "2.0"
info:
  description: "Описание бэкенда для игры '100 к 1'"
  version: "0.0.1"
  title: "Swagger Petstore"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "it.shadowhd.ru"
basePath: "/v2"
tags:
- name: "game"
  description: "Раздел API, касающийся игр"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Game:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      desc:
        type: "string"
        format: "string"
      firstQuestion:
        $ref: "#/definitions/Question"
      doubleQuestion:
        $ref: "#/definitions/Question"
      inversedQuestion:
        $ref: "#/definitions/Question"
  Question:
    type: "object"
    properties:
      text:
        type: "string"
        format: "string"
      answers:
        type: "array"
        items:
          $ref: "#/definitions/Answer"
  Answer:
    type: "object"
    properties:
      text:
        type: "string"
        format: "string"
      score: 
        type: "integer"
        format: "int32"
      
       
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"