swagger: "2.0"
info:
  description: "Описание бэкенда для игры '100 к 1'"
  version: "0.0.1"
  title: "Swagger Petstore"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "it.shadowhd.ru"
basePath: "/v2"
tags:
- name: "game"
  description: "Раздел API, касающийся игр"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:	
  /game:	
    post:	
      tags:	
      - "game"	
      summary: "Добавляет новую игру"	
      description: ""	
      operationId: "addGame"	
      consumes:	
      - "application/json"	
      produces:	
      - "application/json"	
      parameters:	
      - in: "body"	
        name: "body"	
        description: "Объект игры, который будет сохранён в базу данных"	
        required: true	
        schema:	
          $ref: "#/definitions/Game"	
      responses:	
        405:	
          description: "Invalid input"
    put:	
      tags:	
      - "game"	
      summary: "Обновляет существующую игру"	
      description: ""	
      operationId: "updateGame"	
      consumes:	
      - "application/json"	
      produces:	
      - "application/json"	
      parameters:	
      - in: "body"	
        name: "body"	
        description: "Объект игры, который будет обновлён"	
        required: true	
        schema:	
          $ref: "#/definitions/Game"	
      responses:	
        405:	
          description: "Invalid input"
    get:	
      tags:	
      - "game"	
      summary: "Получение игры по его id"	
      description: ""	
      operationId: "getGame"	
      consumes:	
      - "application/json"	
      produces:	
      - "application/json"	
      parameters:	
      - in: "query"	
        name: "id"	
        type: "integer"
        description: "Объект игры, который будет получен"	
        required: true
      responses:	
        405:	
          description: "Invalid input"
        200:
          description: "OK"
          schema:	
            type: "object"	
            items:	
              $ref: "#/definitions/Game"
    delete:
      tags:	
      - "game"	
      summary: "Удаление игры по его id"	
      description: ""	
      operationId: "deleteGame"	
      consumes:	
      - "application/json"	
      produces:	
      - "application/json"	
      parameters:	
      - in: "path"	
        name: "id"	
        type: "integer"
        description: "Объект игры, который будет удалён"	
        required: true
      responses:	
        405:	
          description: "Invalid input"

securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Game:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      desc:
        type: "string"
        format: "string"
      firstQuestion:
        $ref: "#/definitions/Question"
      doubleQuestion:
        $ref: "#/definitions/Question"
      inversedQuestion:
        $ref: "#/definitions/Question"
  Question:
    type: "object"
    properties:
      text:
        type: "string"
        format: "string"
      answers:
        type: "array"
        items:
          $ref: "#/definitions/Answer"
  Answer:
    type: "object"
    properties:
      text:
        type: "string"
        format: "string"
      score: 
        type: "integer"
        format: "int32"
      
       
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"